<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UMB Demo App</title>
</head>
<body>
    <img style="padding: 30px; width: 300px; align-content: center;" src="{{url_for('static', filename='umb.svg')}}">
    <a class="btn btn-primary" href="/env" role="button">ENV-Vars</a>
    <a class="btn btn-primary" href="/img" role="button">Ingress</a>
    <div class="mx-auto" style="width: 300px;padding-top: 20px;">
        
        <div  class="card" style="width: 100%;" >
            <h1 style="text-align: center;">App API Service</h1>
            <div style="background-color: {{ color }}; width: auto; height: 100px; margin: 20px;">
                <h5 class="card-title" style="text-align: center;">{{ Status}} </h5>
            </div>
            <div class="card-body">
                 <p class="card-text">{{ Response }}</p>
            </div>

           

          </div>
      </div>
    
   
<p style="text-align: center; padding: 20px;">  (c) 2021 Daniel Kasper</p>
    
</body>
</html>