<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UMB Demo App</title>
</head>
<body>
  
    <img style="padding: 30px; width: 300px; align-content: center;" src="{{url_for('static', filename='umb.svg')}}">
    <a class="btn btn-primary" href="/" role="button">Status</a>
    <p>
        <h3 style="padding-left: 30px;">My public IP is: {{ my_ip }}</h3>
        <h3 style="padding-left: 30px ;">My internal IP is: {{ int_ip }}</h3>
    </p>
    <p>
        <img src ="{{url_for('static', filename='loadbalancer.PNG')}}" style="padding: 30px; width: auto;">
    </p>
    <p>
    <img src="{{url_for('static', filename='ingress.PNG')}}" style="padding: 30px; width: auto;">
    </p>
   

   

    
</body>
</html>


